<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="掩耳租房后台管理员页面">
    <meta name="keywords" content="掩耳租房后台管理 ">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>我的发布模块界面</title>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue-resource.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/common.css" />
    <link rel="stylesheet" type="text/css" href="css/slide.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/flat-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery.nouislider.css">
</head>
<body>
<div id="myIssueApp">
    <!--我的发布模块-->
    <div role="tabpanel" class="tab-pane" id="user">
        <div class="check-div form-inline">
            <!-- 该div由于页面变为左右占用了原来的位置，所以进行留白处理 -->
            <div class="col-xs-2"></div>

            <div class="col-xs-6">

            </div>
            <!-- 我的发布信息模糊查询 -->
            <div class="col-lg-4 col-xs-2">
                <input type="text" class="form-control input-sm" placeholder="输入文字搜索">
                <button class="btn btn-white btn-xs ">查 询</button>
            </div>
        </div>
        <div class="data-div">
            <div class="row tableHeader">
                <!-- 留白 -->
                <div class="col-xs-2 ">留白</div>
                <div class="col-xs-1 ">编码</div>
                <div class="col-xs-1">出租方式</div>
                <div class="col-xs-2">所属街道</div>
                <div class="col-xs-1">房屋户型</div>
                <div class="col-xs-1">面积(m²)</div>
                <div class="col-xs-1">押金￥</div>
                <div class="col-xs-1">押金形式</div>
                <div class="col-xs-1">状态</div>
                <div class="col-xs-1">操作</div>
            </div>
            <div class="tablebody" v-for="myIssue in issuesData" :key="myIssue.house_id">
                <div class="row">
                    <div class="col-xs-2 ">留白</div>
                    <div class="col-xs-1 ">{{myIssue.house_id}}</div>
                    <div class="col-xs-1">{{myIssue.house_sentType}}</div>
                    <div class="col-xs-2">{{myIssue.house_street}}</div>
                    <div class="col-xs-1">{{myIssue.house_shape}}</div>
                    <div class="col-xs-1 ">{{myIssue.house_area}}</div>
                    <div class="col-xs-1">{{myIssue.house_money}}</div>
                    <div class="col-xs-1">{{myIssue.house_moneyType}}</div>
                    <div class="col-xs-1 ">{{myIssue.isApproval}}</div>
                    <div class="col-xs-1">
                        <button type="button" class="btn btn-success btn-xs"
                                data-toggle="modal" data-target="#particularInfo"
                                @click="particularInfo(myIssue)">详细信息</button>
                    </div>
                </div>
            </div>
        </div>
        <!--页码块-->
        <footer class="footer">
            <ul class="pagination">
                <li><select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                </select> 页</li>
                <li class="gray">共20页</li>
                <li><i class="glyphicon glyphicon-menu-left"> </i></li>
                <li><i class="glyphicon glyphicon-menu-right"> </i></li>
            </ul>
        </footer>
        <!--弹出查看详细信息窗口-->
        <div class="modal fade" style="overflow: auto" id="particularInfo" role="dialog" aria-labelledby="myModalLabel" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close" @click="emptyModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">详细信息</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <form class="form-horizontal">
                                <!-- 隐藏的input 为了取到ID的值 -->
                                <input type="hidden" class="form-control input-sm duiqi" id="check_user_id" v-model="myIssue.house_id">
                                <div class="form-group ">
                                <label for="check_house_sentType" class="col-xs-3 control-label">出租方式：</label>
                                <div class="col-xs-8 ">
                                    <input type="text" class="form-control input-sm duiqi"
                                           id="check_house_sentType" v-model="myIssue.house_sentType">
                                </div>
                            </div>
                                <div class="form-group ">
                                    <label for="check_house_street" class="col-xs-3 control-label">所属街道：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_street" v-model="myIssue.house_street">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_xq" class="col-xs-3 control-label">小区信息：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_xq" v-model="myIssue.house_xq">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_roof" class="col-xs-3 control-label">楼层信息：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_roof" v-model="myIssue.house_roof">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_shape" class="col-xs-3 control-label">房屋户型：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_shape" v-model="myIssue.house_shape">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_area" class="col-xs-3 control-label">面积(m²)：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_area" v-model="myIssue.house_area">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_money" class="col-xs-3 control-label">租金￥(元)：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_money" v-model="myIssue.house_money">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_moneyType" class="col-xs-3 control-label">押金形式：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_moneyType" v-model="myIssue.house_moneyType">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_title" class="col-xs-3 control-label">租房标题：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_title" v-model="myIssue.house_title">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_flag" class="col-xs-3 control-label">房源标签：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_flag" v-model="myIssue.house_flag">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_house_image" class="col-xs-3 control-label">房源图片：</label>
                                        <img id="check_house_image" width="150px" height="150px">

                                </div>
                                <div class="form-group ">
                                    <label for="check_house_state" class="col-xs-3 control-label">房屋状态：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_house_state" v-model="myIssue.house_state">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_isApproval" class="col-xs-3 control-label">审批状态：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_isApproval" v-model="myIssue.isApproval">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="check_admin_issue" class="col-xs-3 control-label">发布人：</label>
                                    <div class="col-xs-8 ">
                                        <input type="text" class="form-control input-sm duiqi"
                                               id="check_admin_issue" v-model="myIssue.admin_issue">
                                    </div>
                                </div>



                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-xs btn-white"
                                data-dismiss="modal" @click="emptyModal()">取 消</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->



    </div>
</div>

<script type="text/javascript">
    //var this = flag;
    var issues = new Vue({
        //对应的DIV的ID
        el:"#myIssueApp",
        //存储数据
        data:{
            issuesData: [],
            myIssue: {},
        },
        //自定义的方法
        methods:{
            //得到所有的用户信息
            showIssues(){
                this.$http.post('http://localhost:9088/getMyIssuesById')
                    .then(result=>{
                        console.log(result.bodyText);
                        //把JSON字符串变成JSON对象
                        this.issuesData=JSON.parse(result.bodyText);
                    })
            },
            //查看详细信息预处理
            particularInfo(myIssue){
                //修改前的准备，把模态框展示，数据回显
                this.myIssue = myIssue;
                console.log("this.myIssue:");
                console.log(this.myIssue);
                document.getElementById("check_house_image").src = "images/"+this.myIssue.house_image;
            },
            //清空弹出框modal
            emptyModal(){
                this.myIssue={};
            },
            //判断是否登陆
            isLogin(){
                this.$http.post('http://localhost:9088/isLogin')
                    .then(result=>{
                        if(result.bodyText=="isLoginInfo002"){
                            //代表未登录，需要跳转到登陆页面
                            window.location.href = "http://localhost:9088/login.html";
                            //提示登陆
                            alert("请先登陆")
                        }else{
                            this.showIssues()
                        }
                    })
            },
        },
        created() {
            this.isLogin()
            //初始化完毕data和methods
            //this.showIssues()
        },
    });

</script>
</body>
</html>